<!-- BEGIN CONTAINER -->
<div class="page-content">
    <div class="container">
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- Center Wrap BEGIN -->
        <div class="center-wrap">
            <div class="center-align">
                <div class="center-body">
                    <div class="row">
                        <div class="col-sm-6 margin-bottom-30">
                            <a class="webapp-btn" href="./desktop/ldms/Login/">
                                <h3>LDMS</h3>
                                <p>LDMS - Web Applications</p>
                            </a>
                        </div>
                        <div class="col-sm-6 margin-bottom-30">
                            <a class="webapp-btn" href="dashboard_2.html">
                                <h3>iTMS</h3>
                                <p>iTMS - Web Applications</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <a class="webapp-btn" href="ecommerce_index.html">
                                <h3>Management</h3>
                                <p>Manage iTMS Project</p>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a class="webapp-btn" href="dashboard_3.html">
                                <h3>Blogs</h3>
                                <p>Reports & FAQ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Center Wrap END -->
        <!-- END PAGE BASE CONTENT -->

        <!-- BEGIN FOOTER -->
        <p class="copyright">2016 © iTMS Project by IEL.
        </p>
        <!-- END FOOTER -->
    </div>
</div>
<!-- END CONTAINER -->