<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="havbar-header">
                <!-- BEGIN LOGO -->
                <a id="index" class="navbar-brand" href="#">
                    <img src="<%= '../' + images_dir + '/layout6/img/logo.png' %>" alt="Logo"> </a>
                <!-- END LOGO -->
            </div>
        </div>
        <!--/container-->
    </nav>
</header>
<!-- END HEADER -->