            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li>
                    <a href="#">Blank Page</a>
                </li>
                <li>
                    <a href="#">Page Layouts</a>
                </li>
                <li>Blank Page Layout</li>
            </ul>
            <!-- END BREADCRUMBS -->