        <!-- BEGIN FOOTER -->
        <p class="copyright"> 2016 © iTMS Project by IEL. </p>
        
        <a href="#index" class="go2top">
            <i class="icon-arrow-up"></i>
        </a>
        <!-- END FOOTER -->