    /**
     *
     * @apiName GetWebCourierList
     * @apiGroup Fleet Manager
     * @apiVersion 0.1.0
     *
     * @api {post} /fleetManager/getWebCourierList/ Call WebService getWebCourierList
     * @apiDescription คำอธิบาย : ในส่วนนี้จะเรียก WebService getWebCourierList
     *
     */

    function getWebCourierList($app, $client) {

        /* ************************* */
        /* เริ่มกระบวนการรับค่าพารามิเตอร์จากส่วนของ Payload ซึ่งอยู่ในรูปแบบ JSON */
        /* ************************* */
        $headers = $app->request->headers;
        $ContetnType = $app->request->headers->get('Content-Type');

        /**
        * apidoc @apiSampleRequest, iOS RESTKit use content-type is "application/json"
        * Web Form, Advance REST Client App use content-type is "application/x-www-form-urlencoded"
        */
        if (($ContetnType == "application/json") || ($ContetnType == "application/json; charset=utf-8")) {

            $request = $app->request();
            $result = json_decode($request->getBody());

            /* receive request */
            $postStationID = $result->stationID;


        } else if ($ContetnType == "application/x-www-form-urlencoded"){

            //$userID = $app->request()->params('userID_param');
            //$userID = $app->request()->post('userID_param');

        }



        $error = $client->getError();
        if ($error) {
            echo "<h2>Constructor error</h2><pre>" . $error . "</pre>";
        }

        /* ************************* */
        /* เริ่มกระบวนการเชื่อมต่อ Web Service */
        /* ************************* */
        // $postStationID = 29;

        $result = $client->call('getWebCourierList', array("station_id" => $postStationID));
        $mydata = json_decode($result["getWebCourierListResult"],true);

        $reports = array();

        for ($i=0; $i < count($mydata["array"]); $i++) { 

            $reports[] = array(
                    "car_licence" => $mydata["array"][$i]['car_licence'],
                    "driver_name" => $mydata["array"][$i]['driver_name'],
                    "driver_status" => $mydata["array"][$i]['driver_status'],
                    "battery_level" => $mydata["array"][$i]['battery_level'],
                    "latitude" => $mydata["array"][$i]['latitude'],
                    "longitude" => $mydata["array"][$i]['longitude'],
                );

        }

        $rowCount = count($mydata["array"]);

        /* ************************* */
        /* เริ่มกระบวนการส่งค่ากลับ */
        /* ************************* */
        $resultText = "success";

        $reportResult = array("result" =>  $resultText, "count" => $rowCount, "rows" => $reports);
        $app->response()->header("Content-Type", "application/json");
        echo json_encode($reportResult);

    };