---
title: iTMS Project
date: 2016-05-28
tags: iTMS
published: true
category: iTMS
layout: "layout-desktop-blog-home"

baseURL: "/iel/build/src/desktop/blogs/iTMS/2016/05/28/iTMS-index.html"
imageURL: "../../../../../../../images"
---



<!-- BEGIN CONTAINER -->
<div class="wrapper">
    <!-- BEGIN HEADER -->
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">

                <%= partial blog_dir + "common-partials/_navbar" %>

                <%= partial blog_dir + "common-partials/_header-menu" %>

            </div>
            <!--/container-->
        </nav>
    </header>
    <!-- END HEADER -->

    <div class="container-fluid">
        <div class="page-content">

            <%= partial blog_dir + "iTMS/itms-partials/_breadcrumbs" %>
            
            <!-- BEGIN PAGE BASE CONTENT -->
            
            <!-- END PAGE BASE CONTENT -->
        </div>
        
        <%= partial blog_dir + "common-partials/_footer" %>

    </div>
</div>
<!-- END CONTAINER -->