<div class="row">
    <div class="col-md-4">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-truck font-green"></i>
                    <span class="caption-subject bold uppercase">FLEET</span>
                </div>
                <div class="tools"> 
                    <select data-placeholder="เลือกศูนย์..." class="chosen-select">
                        <option value=""></option>
                        <option value="page-dashboard">ศูนย์นครสวรรค์</option>
                        <option value="page-booking">หน้าจอ Booking</option>
                        <option value="page-job">หน้าจอ Job</option>
                        <option value="page-map">หน้าจอ แผนที่</option>
                    </select>
                </div>
            </div>
            <div class="portlet-body table-both-scroll">
                <table class="table table-striped table-bordered table-hover order-column" style="width: 100%" id="listDrivers">
                    <thead>
                        <tr>
                            <th>ทะเบียน</th>
                            <th>ชื่อคนขับรถ</th>
                            <th>สถานะ</th>
                            <th>แบตเตอรี่</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>บห-4674</td>
                            <td>นายสากล ฉวีหินตั้ง</td>
                            <td>-</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <td>บห-4674</td>
                            <td>นายสากล ฉวีหินตั้ง</td>
                            <td>-</td>
                            <td>58</td>
                        </tr>
                        <tr>
                            <td>บห-4674</td>
                            <td>นายสากล ฉวีหินตั้ง</td>
                            <td>-</td>
                            <td>58</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red">
                    <i class="fa fa-map-marker font-red"></i>
                    <span class="caption-subject bold uppercase">Map</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body table-both-scroll">

            </div>
        </div>
    </div>
</div>